extends layout

block content
 .row
  .col-xs-12.col-md-6
    section.hero
      
      h1 Welcome to Novelnotes
      p Explore bookworld!
      img.hero-image(src="/images/online.jpg", alt="bookreview",style="width:150%;height:auto;")
    section.Deciding what to read next?
      h2 You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll give you surprisingly insightful recommendations.
    section. What are your friends reading?
      h2  Chances are your friends are discussing their favorite (and least favorite) books on novelnotes.


    
    
    section.testimonials
      h2 What Our reviewers say
      .testimonial
        blockquote
          p "the recommendations are great,especially the book 1984 is the best one."
        p -ashritha
    section.register-cta
      h2 Register here
      p you can register our page for free!
      a.btn-register(href="/register") Register Now
    
    footer
      p &copy; Novelnotes. All rights reserved.
